		 .input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
		 .up {
		background-image: url("https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/upload.png");	 
			 
			 
		 }
textarea {
 width: 50%;
   	border: none;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
   
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
         
        border: none;
   border-bottom: 2px solid green;
           border-top: 2px solid green;
           border-left: 2px solid green;
            border-right: 2px solid green;
    outline:none;
}

textarea:focus {
    width: 100%;
        border: none;
    border-bottom: 2px solid green;
        border-top: 2px solid green;
           border-left: 2px solid green;
           border-right: 2px solid green;
}
span > input display: none;
}
span {
  display: inline-block;
  float: right;
  padding: 2px;
  width: 40px;
  height: 20px;
  border-radius: 13px;
  vertical-align: middle;
  -webkit-transition: .25s .09s;
  transition: .25s .09s;
  position: relative;
  background: #d8d9db;
  -webkit-box-sizing: initial;
          box-sizing: initial;
}
span:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 2px;
  -webkit-transition: .25s;
  transition: .25s;
}
span > input:checked + i {
  background: #4bd865;
}
span > input:checked + i:after {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

