
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

  .btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}
 	.submit {
    background:none;
    background-color:green;
    border:1px solid darkgreen;
    color: white;
  }
  
    


.meme {
  margin: auto;
  width: 450px;
  height: 450px;
  background-image: url('https://i.ytimg.com/vi/e4QT8eRA0Bw/maxresdefault.jpg');
  background-size: 100%; 
  text-align: center;
  position: relative;
}

.meme-text {
  position: absolute; 
  left: 0;
  right: 0; 
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact;
  font-size: 2.5em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0px 2px 0 #000,
  2px 0px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 2px 5px #000;
}

.bottom {
   bottom: 0;
 }

.top {
   top: 0;
 }



a[target=_blank] {
        opacity: 0;
  
}
.home-desc {
        opacity: 0;
  
}


.navbar-default {
  background-color: #77b659;
  border-color: #13781f;
}
.navbar-default .navbar-brand {
  color: #075806;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e2ffdb;
}
.navbar-default .navbar-text {
  color: #075806;
}
.navbar-default .navbar-nav > li > a {
  color: #075806;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e2ffdb;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #77b659;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #075806;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #e2ffdb;
  background-color: #13781f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #13781f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e2ffdb;
  background-color: #13781f;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #e2ffdb;
  background-color: #13781f;
}
.navbar-default .navbar-toggle {
  border-color: #13781f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #13781f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #075806;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #075806;
}
.navbar-default .navbar-link {
  color: #075806;
}
.navbar-default .navbar-link:hover {
  color: #e2ffdb;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #075806;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e2ffdb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e2ffdb;
    background-color: #13781f;
  }
}
	}
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
	
body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Roasted_coffee_beans.jpg/1200px-Roasted_coffee_beans.jpg');

    /* Full height */
    height: 30%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

